<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>菩提阁</title>
    <link rel="icon" href="./../images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="./../js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css"/>
    <!--引入vant样式-->
    <link rel="stylesheet" href="../styles/vant.min.css"/>
    <!-- 引入样式  -->
    <link rel="stylesheet" href="../styles/index.css"/>
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="./../styles/register.css"/>

</head>
<body>


<div id="register" v-loading="loading">
<!--    <div class="divHead">注册</div>-->
<!--    <div class="divContainer">-->
<!--        <el-input placeholder="请输入账号" v-model="registerForm.username"  maxlength='20'/></el-input>-->
<!--        <div class="divSplit"></div>-->
<!--        <el-input placeholder=" 请输入密码" v-model="registerForm.password"  maxlength='20'/></el-input>-->
<!--        &lt;!&ndash;                <span @click='getCode'>获取验证码</span>&ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash;            <div class="divMsg" v-if="msgFlag">手机号输入不正确，请重新输入</div>&ndash;&gt;-->
<!--    <el-button type="primary"  @click="btnRegister">注册</el-button>-->


    <van-form @submit="onSubmit">
        <van-field
                v-model="registerForm.username"
                name="用户名"
                label="用户名"
                placeholder="用户名"
                :rules="[{ required: true, message: '请填写用户名' }]"
        > </van-field>
        <van-field
                v-model="registerForm.password"
                type="password"
                name="密码"
                label="密码"
                placeholder="密码"
                :rules="[{ required: true, message: '请填写密码' }]"
        ></van-field>

        <div style="margin: 16px;">
            <van-button round block type="info" native-type="submit"   @click="btnRegister">提交</van-button>
        </div>
    </van-form>

</div>


<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../backend/plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../backend/plugins/element-ui/index.js"></script>
<!-- 引入vant样式 -->
<script src="./../js/vant.min.js"></script>
<!-- 引入axios -->
<script src="../../backend/plugins/axios/axios.min.js"></script>
<script src="./../js/request.js"></script>
<script src="./../api/register.js"></script>

<script>
    new Vue({
        el: '#register',
        data() {
            return {
                registerForm: {
                    username: '',
                    password: ''
                },
                loading: false

            }
        },
        computed: {},
        created() {
        },
        mounted() {
        },
        methods:{
            async btnRegister(){
                if(this.registerForm.username && this.registerForm.password){
                    this.loading = true
                    const res = await registerApi(this.registerForm)
                    if(res.code===1){
                        window.requestAnimationFrame(()=>{
                            window.location.href= '/front/page/login.html'
                        })

                    }else {
                        this.loading = false
                        this.$notify({ type:'warning', message:res.msg});
                    }
                }

            }



        }



    })


</script>


</body>
</html>